<% if @place.errors.any? %>
  <div class='alert alert-danger'>
    <strong><%= pluralize @place.errors.count, 'error' %> prevented place to be submitted </strong>
    <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>